.pagination-cont {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.page-num {
  padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
}

.page-num.active {
  border-bottom: 4px solid #cb2c90;
  font-weight: 600;
  pointer-events: none;
}
